
{% load static %}



{% block  contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script src="https://kit.fontawesome.com/04e9bd8ab5.js" crossorigin="anonymous"></script>

    

    <title>Registro</title>


    <link href="{% static 'core/css/registrarse.css' %}" rel="stylesheet" />

    {% block css %}

    {% endblock %}
</head>



<body>
    <div class="formulario">
        <h1>Registrate</h1>
        <form method="post">
            
            <div class="username">
                <label for="username">Nombre :</label>
            </div>
            <div class="textcampusername">
                <input type="text" required placeholder="Ingrese nombre">
            </div>

            <div class="apellido">
                <label for="apellido">Apellido :</label>
            </div>
            <div class="textcampapellido">
                <input type="apellido" required placeholder="Ingrese apellido">
            </div>

            <div class="email">
                <label for="email">Correo electronico :</label>
            </div>
            <div class="textcampemail">
                <input type="email" required placeholder="Ingrese correo">
            </div>

            <div class="password">
                <label for="password">Contraseña :</label>
            </div>
            <div class="textcamppass">
                <input type="password" required placeholder="Ingrese contraseña">
            </div>


            <div class="input">
                <a href="{% url 'login' %}">
                    <input class="" type="" value="Crear cuenta"> 
                </a>
            </div>
            
            <div class="recordar">
                <a href="{% url 'login' %}" class="recordar">¿Ya tienes una cuenta? </a>
            </div>

        </form>
    </div>

    {% endblock %}

    
</body>
</html>
